@charset "utf-8";

// Set your brand colors
$my-turquoise: #00abab;

// Update Bulma's global variables
$family-sans-serif: "newbery-sans-pro", sans-serif;
$primary: $my-turquoise;

// transparent navbar
$navbar-background-color: transparent;

// hero section background-image
$backgrounds: (
  keyboard: "../assets/antonino-visalli-uZsDcxog6EM-unsplash.jpg",
  nightsky: "../assets/nick-rickert-dHXcOy3umtE-unsplash.jpg",
);

@each $key, $image in $backgrounds {
  .hero-#{$key} {
    background-image: url("#{$image}");
  }
}

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
